<div class="container mt-5" *ngIf="!flashcard && currentSet">
  <div class="h1 mb-5">{{currentSet.name}}</div>
  <div class="h5 d-inline-block col-sm-6">Terms in this set ({{ currentSet.cards?.length}})</div>
  <div class="h5 d-inline-block col-sm-6 text-right">
    <button class="btn btn-info" (click)="getAllCards()">All</button>
    <button class="btn btn-warning ml-3" (click)="getStarCards()">Stars</button>
    <button class="btn btn-primary ml-3" (click)="flashcard=true">FlashCard</button>
    <a class="btn btn-danger ml-3" routerLink="/sets/{{currentSet._id}}/test">Test</a>
    <a class="btn btn-secondary ml-3" routerLink="/sets/{{currentSet._id}}/match">Match</a>
  </div>
  <div class="card mt-3" *ngFor="let card of activeCards">
    <div class="card-body display-4">
      <div class="d-inline-block col-sm-4">{{card.term}}</div>
      <div class="d-inline-block col-sm-4">{{card.definition}}</div>
      <div class="d-inline-block col-sm-4" style="font-size: 0.5em">
        <a class="text-warning" (click)="toggleCardStar(currentSet._id, card._id)">
          <i [class]="card.star ? 'fas fa-star' : 'far fa-star'"></i>
        </a>
        <a class="text-warning offset-2" (click)="editCard(card._id)">
          <i class="fas fa-pen"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center">
  <button class="btn btn-info mt-3 text-center" routerLink="/sets/{{currentSet._id}}/edit">Add or Remove terms</button>
  </div>
</div>
<div class="container mt-5 flashcard" *ngIf="flashcard">
  <div class="text-right">
  <button class="btn btn-light" (click)="flashcard=false">Back to Set</button>
  </div>
  <app-flashcard [activeCards]="activeCards" [currentSet]="currentSet" [showStars]="showStars" *ngIf="activeCards.length > 0" (updateActiveCards)="onUpdateActiveCards($event)"></app-flashcard>
  <div *ngIf="activeCards.length == 0" class="text-danger h3 mt-5">There is no card to review.</div>
</div>
